CSM_DB_HOST=localhost
CSM_DB_NAME=tasks
CSM_DB_PASSWORD=password
CSM_DB_POOL_SIZE=45
CSM_DB_PORT=5432
CSM_DB_SSL_MODE=disable
CSM_DB_USERNAME=username
CSM_GRPC_PORT=3333
CSM_LOGGING_LEVEL=info
CSM_LOGGING_TYPE=text
CSM_MCR=100000
CSM_METRICS_PORT=2113
CSM_PROFILING_PORT=8080

PRD_DB_HOST=localhost
PRD_DB_NAME=tasks
PRD_DB_PASSWORD=password
PRD_DB_POOL_SIZE=45
PRD_DB_PORT=3333
PRD_DB_SSL_MODE=disable
PRD_DB_USERNAME=username
PRD_GRPC_HOST=localhost
PRD_GRPC_PORT=3333
PRD_LOGGING_LEVEL=info
PRD_LOGGING_TYPE=text
PRD_MAX_BACKLOG=1000000
PRD_METRICS_PORT=2112
PRD_MPS=100000
PRD_PROFILING_PORT=8081

DB_HOST=localhost
DB_NAME=tasks
DB_PASSWORD=password
DB_PORT=5432
DB_SSL_MODE=disable
DB_USERNAME=username
MIGRATION_SOURCE_URL=file://./migration